.navbar {
  display: flex;
  justify-content: left;
  align-items: center;
  background: #343a40;
  border-radius: 6px;
  position: absolute;
  width: 1076px;
  height: 58px;
  left: 182px;
  top: 0px;
  padding: 0 20px;
}

.navbar-item {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
